<p-autoComplete
    [(ngModel)]="value"
    [suggestions]="suggestions" 
    (completeMethod)="onCompleteMethod($event)"
    (onClear)="onClear($event)"
    (onBlur)="onBlur($event)"
    [field]="field" 
    [size]="size" 
    [placeholder]="placeholder" 
    [minLength]="innerMinLength"
    forceSelection = "true"
    class="ui-fluid" >

    <ng-template *ngIf="suggestionsTemplate != null" let-item pTemplate="item">
       <ng-container *ngTemplateOutlet="suggestionsTemplate; context: {$implicit: item}"></ng-container>
    </ng-template>
</p-autoComplete>

